<nav class="navbar navbar-static-top">
  <div class="">
    <div class="navbar-header" style="margin-top: 10px;margin-bottom: 10px;">
      <img src="assets/images/{{vm.service.company}}/logo.png" width="500px" alt="E-Fleet"><br>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav nav-brand topnav">
        <li class="active"><a ng-href="../">Home</a></li>
        <li><a ng-href="../">Latest Offers</a></li>
        <li><a ng-href="#">Find a dealer</a></li>
        <li><a ng-href="#">Products & Services</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      
    </div>
  </div>
</nav>
