<nav class="navbar navbar-static-top">
  <div class="">
    <div class="navbar-header">
      <img src="assets/images/header-logo-nissan.png" width="120px" alt="E-Fleet"><br>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav nav-brand">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">Latest Offers</a></li>
        <li><a ng-href="#">Find a dealer</a></li>
        <li><a ng-href="#">Products & Services</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
