<div class="container"
  ng-class="{'nissan':'nissan-site', 'renault':'renault-site','dacia':'dacia-site'}[main.service.company]">

  <div class="">
    <acme-navbar></acme-navbar>
  </div>



  <uib-tabset class="main-tabs" active="activeForm">
    <uib-tab index="0" heading="Dashboard">

      <div class="" style="margin: 1px;
      margin-top: 0px;
      border: 1px solid #c40032;">
        <div id="smartwizard" class="">
          <ul>
            <li><a href="#step-1">1. Locate Proposal<br /><small>Find your proposal</small></a></li>
            <li><a href="#step-2">2. Request<br /><small>Authentication Code</small></a></li>
            <li><a href="#step-3">3. Enter Validation Code<br /><small>Validate</small></a></li>
            <li><a href="#step-4">4. Photo ID<br /><small>Selfie / Upload Photo</small></a></li>
            <li><a href="#step-5">5. Sign Contract<br /><small>Sign your agreement</small></a></li>
          </ul>

          <div>
            <div id="step-1" class="">
              <div class="row m-0 equal">
                <div class="col-md-8 pad0">
                  <img src="assets/images/nml.jpg" width="100%" /><br />

                  <div class="p-20">
                    <p class="ft17 nis-light"><strong>Welcome to the <span
                          style="text-transform: capitalize;">{{main.service.company}}</span> finance electronic signing
                        service.</strong></p>
                    <p>Suspendisse non viverra est, in aliquet sapien. Sed facilisis tincidunt diam. Nam iaculis arcu ut
                      facilisis hendrerit. Praesent ultricies auctor nulla, ut placerat sapien ultricies sed. Proin
                      consequat sodales magna. Curabitur vitae libero dolor. Nam sapien justo, rhoncus id nisi a, porta
                      varius diam. Nunc convallis mauris lorem, sit amet lobortis lectus placerat eget. Integer lacinia
                      nunc sed lobortis lacinia.</p>
                  </div>

                </div>
                <div class="col-md-4 form-part">
                  <div ng-if="main.startprocessstatus == false">
                    <h1 class=""><strong>Before you begin</strong></h1><br />
                    <p class="ft13"><strong>A couple of things you will need to have handy</strong></p>
                    <br />
                    <p>1. You should be using a device which has a camera (for the selfie authentication process).</p>
                    <p>2. Your drivers licence (you will need to provide a photo of your licence).</p>
                    <br />
                    <p><strong>If you have these things, you can continue.</strong></p><br />
                    <button class="btn btn-secondary sw-btn-start" ng-click="main.startprocess();">START PROCESS</button>
                  </div>
                  <div ng-if="main.startprocessstatus == true">
                    <p class="ft13"><strong>Locate your proposal</strong></p>
                    <p>Signing your agreement electronially couldn't be easier. First we need to find your proposal, you
                      can help us by completing the following fields.</p><br />
                    <form name="formStep1" id="formStep1" novalidate>
                      <div class="form-group">
                        <label for="propnumber">Proposal number*</label><br />
                        <small>(typically 10 digits)</small>
                        <input type="number" ng-model="findProp.propnumber" class="form-control"
                          name="propnumber" id="propnumber" required ng-minlength="10"
                          ng-maxlength="10" />
                        <p ng-show="formStep1.propnumber.$error.minlength" class="help-block">Proposal number is too short.</p>
                        <p ng-show="formStep1.propnumber.$error.maxlength" class="help-block">Proposal number is too long.</p>
                      </div>
                      

                      <div class="form-group">
                        <label for="exampleInputEmail1">Date of birth*</label>
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="findProp.dt"
                            is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                            alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" ng-click="open1()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                      </div>
                      <div class="form-group">
                        <label>Email Address*</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress" ng-model="findProp.email" required>
                        <p ng-show="formStep1.emailAddress.$invalid && !formStep1.emailAddress.$pristine" class="help-block">Please enter a valid email address.</p>
                          
                          
                      </div>
                      <br />
                      

                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div id="step-2" class="">
              <div class="row m-0 equal">
                <div class="col-md-8 p-20">
                  <div ng-if="main.codeStat != 'received'">
                    <p class="ft13"><strong>We need to validate who you are</strong></p">
                      <p>We need to send you a code to validate who you are. <br />You can choose whether to receive
                        this code via <strong>Email</strong>, <strong>SMS</strong> or both <strong>Email and SMS</strong>.</p>
                      <hr />
                      <!-- <p class="ft13"><strong>Choose how to receive code</strong></p> -->
                    <form>
                      <div class="form-group">
                        <select ng-model="codeTypeSelect" ng-change="main.codeTypeSelected(codeTypeSelect)"
                          ng-options="opt as opt.label for opt in units " class="form-control"></select>
                          <p ng-if="codeTypeSelect.label == 'Please choose a method for receiving the code'" class="help-block">You must make a choice above.</p>
                      </div>
                      <p ng-if="main.codeType == 'Email' && codeTypeSelect.label != 'Please Choose'">We will send an email to <strong>{{login.email}}</strong></p>
                      <p ng-if="main.codeType == 'SMS' && codeTypeSelect.label != 'Please Choose'">We will send an SMS to [MOBILE]</p>
                      <p>Once you have made a choice Click 'SEND CODE' to continue.</p>
                      <!-- <button class="btn btn-secondary sw-btn-next">SEND CODE</button> -->

                      <!-- <br />
                    <input type="button" class="btn btn-danger" value="Send Code" ng-click="main.codeTypeSelectedPush(codeTypeSelect)" /> -->
                      <br /><br />
                    </form>
                      
                      
                  </div>



                </div>
                <div class="col-md-4 form-part">
                  <div ng-if="main.codeStat != 'received'">
                    <p>
                      <div class="alert alert-warning" role="alert"><strong>NOTE: </strong>We can only send the code to either your registered email address or
                        registered mobile number. That which is recorded against the proposal number.</div>
                    </p>
                  </div>




                </div>
              </div>
            </div>
            <div id="step-3" class="">
              <div class="row m-0 equal">
                <div class="col-md-8 p-20">


                  <p class="ft13"><strong>We just sent you a code!</strong></p">
                    <p>We have just sent an authorisation code to your registered <br />
                      <span ng-if="findProp.codePref.id === 1">email address: <br /><strong>{{findProp.email}}</strong><br />You must now enter that code in the field opposite to continue.</span>
                      <span ng-if="findProp.codePref.id === 2">mobile number: <br /><strong>{{findProp.email}}</strong><br />You must now enter that code in the field opposite to continue.</span>
                      <span ng-if="findProp.codePref.id === 3">email address: <strong>{{findProp.email}}</strong> and your <br />mobile number: <strong>{{findProp.email}}</strong><br /><br /><strong>You must now enter that code in the field opposite to continue.</strong></span>
                      </p>
                    <hr />


                </div>
                <div class="col-md-4 form-part">
                  <p class="ft13"><strong>Security Code</strong></p>
                  <form>
                    <div class="form-group">
                      <label for="authCode">
                        Enter security code sent via
                        <span ng-if="main.codeType == 'Email'">Email</span>
                        <span ng-if="main.codeType == 'SMS'">SMS</span>
                      </label>
                      <input type="text" ng-model="authCode" ui-mask="9999" ui-mask-placeholder required
                        class="form-control" id="AuthCode">
                    </div>

                    <!-- <br />
                      <!-- <input type="submit" class="btn btn-default" wz-previous value="Re-Enter Details" /> -->
                    <!-- <input type="submit" class="btn btn-danger" value="Validate Code" ng-click="main.doValidateCode();"/> -->
                    <br /><br />
                  </form>



                </div>
              </div>
            </div>
            <div id="step-4" class="">
              Step Content
            </div>
            <div id="step-5" class="">
              
                <div class="row m-0 equal">
                  <div class="col-md-12 pad0">
                    <div class="loader-cover">
                      <div class="lds-ring">
                        <p>Fetching Agreement Contract...</p>
                        <div></div><div></div><div></div><div></div>
                      </div>
                    </div>
                    <iframe id="doSignAgreement" class="doc-iframe"></iframe>
                  </div>
                  
                </div>
              
            </div>
          </div>
        </div>
      </div>

    </uib-tab>
    <uib-tab index="1" heading="About">
      <div class="row p-20">
        <div class="col-lg-8">
          <p class="ft17 nis-light"><strong>About</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius et massa nec tempor. Aliquam pulvinar,
            enim id blandit facilisis, erat nisi efficitur neque, vitae sagittis turpis odio et quam. Maecenas egestas
            volutpat nulla, id cursus enim malesuada eu. Sed id sagittis nunc, tempus efficitur ante. Nam at diam eget
            purus vestibulum egestas. Nulla tempor euismod dolor vitae fringilla. Aenean pellentesque tellus vel nisl
            accumsan, elementum vestibulum felis efficitur. Nulla facilisi. Nullam eleifend congue erat, at semper enim
            tristique vel. Duis efficitur tincidunt lacus vel vulputate. Integer mollis cursus massa, ut ultrices enim.
            Donec eget ultrices neque.</p>
  
          <p>Fusce quis erat sed est convallis lacinia sit amet varius tellus. Fusce ex nisi, auctor ac egestas sit amet,
            tempus vel metus. Pellentesque ac mauris nibh. Suspendisse sit amet magna lectus. Nulla ipsum leo, tincidunt
            quis venenatis sit amet, posuere et elit. Sed sed euismod tortor. Suspendisse tempus tincidunt turpis, ut
            rutrum mauris efficitur ut. Aenean ut nisi vitae diam dignissim tincidunt. Vivamus hendrerit sed mi fermentum
            finibus. Aenean nunc dolor, semper ut metus vitae, eleifend rutrum mauris.</p>
        </div>
        <div class="col-lg-4">
          <p class="ft17 nis-light"><strong>Helpful Links</strong></p>
          <p>Nulla facilisi. Donec commodo lorem eu ligula laoreet, ac tempus nulla interdum. Curabitur libero tortor,
            molestie sit amet arcu in, convallis malesuada turpis. Aenean orci nulla, viverra a libero vel, condimentum
            pretium est. Etiam mollis mauris non condimentum laoreet. Phasellus sagittis mi id tempor cursus. Nulla non
            massa eget erat venenatis pellentesque non nec lacus. Mauris dapibus elit vitae consectetur ultrices. Nullam
            lobortis, neque sed scelerisque condimentum, ligula mi aliquam quam, ut rutrum turpis orci a erat.</p>
        </div>
        

        
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Contact">
      <div class="p-20">
        Contact Content
      </div>
    </uib-tab>
    <uib-tab index="3" heading="Help uploading">
      <div class="p-20">
        Upload help content
      </div>
    </uib-tab>
    <uib-tab index="4" heading="Help with 'Selfie' upload">
      <div class="p-20">
        Selfie help content
      </div>
    </uib-tab>
  </uib-tabset>







</div>

<!-- <div class="container-fluid pad0" ng-class="{'nissan':'nissan-site', 'renault':'renault-site','dacia':'dacia-site'}[main.service.company]">
  <div class="footer">
    <div class="container pad-top-20 pad-bottom-20">
      <img src="assets/images/{{main.service.company}}/logo.png" width="120px" alt="E-Fleet"> &nbsp; &nbsp;&nbsp;&nbsp; Copyright
      &copy; RCI Finaicial Services Limited. All Rights Reserved.
    </div>
  </div>
</div> -->